
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap eCommerce Template</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style type="text/css">
        .imgbook {
            transition: all 1s ease-in;
            width: 400px;
        }

            .imgbook:hover {
                transform: scale(0.9);
                cursor: pointer;
            }

        .imgsachbannhieu {
            width: 100px;
        }
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/bootstrap")

    </style>
</head>
<body>

    @Html.Partial("_NavPartial")

    @RenderSection("slider", required: false)

    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                @*@Html.Partial("_ChuDePartial")*@
                @Html.Action("_ChuDePartial", "VoHoNhatNam")
                <br>
                @*@Html.Partial("_NhaXuatBanPartial")*@
                @Html.Action("_NhaXuatBanPartial", "VoHoNhatNam")
            </div>

            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                @RenderBody()
            </div>
        </div>
        <hr>
    </div>

    <div class="container">
        @*tùy chọn trang có trang không khác với layout là trang layout nào cũng có *@
        @RenderSection("sachbannhieu", required: false)
        @*không yêu cầu sách bán nhiều*@
        <!--có thể thêm nội dung vào
        có thể làm rất nhiều nơi-->
    </div>

    @*<footer class="text-center">*@
    @Html.Partial("_FooterPartial")
    @*</footer>*@

</body>
</html>
